<!DOCTYPE html>
<html lang="en">
    <head>
        <title> The Solar System </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css" />

    </head>
    <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Solar System</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/mercury">Mercury</a>
                <a class="nav-item nav-link" href="/venus">Venus</a>
                <a class="nav-item nav-link" href="/earth">Earth</a>
                <a class="nav-item nav-link" href="/mars">Mars</a>
            </div>
        </div>
    </nav>