<%- include('partials/header.ejs') %>
        
        <h1 class="jumbotron d-flex justify-content-center"> Welcome to Mars! </h1>

        <div class="container">
            <div class="row">
                <img class="col-12" src="/img/mars.jpg" alt="Planet Mars" />
            </div>
            <br>
            <hr>
            <div class="row jumbotron page-content">
                <h2 class="col-3"> About Mars </h2> <br>
                <div class="col-3">
                    <h4>Numbers:</h4>
                    <ul>
                        <li>One Day: 24.6 hours</li>
                        <li>One Year: 687 Earth days</li>
                        <li>High Surface Temp: 70 F</li>
                        <li>Low Surface Temp: -225 F</li>
                        <li>Radius: 2,106 miles</li>
                    </ul>
                </div>
                <div class="col-6">
                    <h4>Facts:</h4>
                    <ul>
                        <li>Like Earth, Mars has seasons. However, because of the way
                            it orbits around the sun, some seasons are longer than others.</li>
                        <li>Its core is made up of not only iron, like Mercury and Earth, but also
                            of nickel and sulfur.</li>
                        <li>On Mars' surface lies the "largest volcano in the solar system." 
                            It has been named Olympus Mons and is three times the size of Mount 
                            Everest.</li>
                    </ul>
                </div>
            </div>
        </div>
            
<%- include('partials/footer.ejs') %>
